@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex justify-content-center">
    <form class="form-control shadow-sm w-75 mt-5 bg-light p-5">
        <div class="row justify-content-center mb-4">
            <label class="text-center form-label fs-3 col-12">Retira tu dinero</label>
        </div>
        <div class="row justify-content-center mb-3">
            <select class="form-select align-self-center">
                <option value="0" selected>Selecciona un metodo de dispensacion</option>
                <option value="1">Billetes de 1000 y 200</option>
                <option value="2">Billetes de 500 y 1000</option>
                <option value="3">Metodo Eficiente</option>
            </select>
        </div>
        <div class="row justify-content-center form-floating ">
           <input class="form-control" id="monto" placeholder=""/>
           <label for="monto">Digita un monto</label>
        </div>
    </form>
</div>

 